* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider,
.slider2 {
    position: relative;
    height: 800px;
}

.slider {
    background-image: url(img/slider-img.jpg);
}

.slider2 {
    border-top: 1px solid transparent;
    background-image: url(img/slider2.jpg);
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}


.slider-text,
.slider2-text {
    margin-top: 283px;
}

.slider-trending,
.slider2-hotdeal {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.slider-trending {
    color: #43a047;
}

.slider2-hotdeal {
    color: #e53935;
}

.slider-h2,
.slider2-h2 {
    font-size: 61px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -3.65px;
}

.slider-content,
.slider2-content {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:active{
    box-shadow: none;
}

.paggination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c6c6c6;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}

.items {
    height: 610px;
}

.items-header {
    padding-top: 118px;
}

.featured {
    float: left;

}

.featured-list {
    list-style-type: none;
    display: inline-block;

}

.featured-link {
    text-decoration: none;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
    padding: 8px;
}

.featured-link-active {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 8px;
}

.arrow {
    display: block;
    padding-left: 12px;
}

.explore {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    align-items: center;
    float: right;
    padding-top: 18px;
}

.products-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 270px;
    width: 100%;
}

.product-img:hover {

    transform: rotateY(180deg);
    transition-property: transform;
    transition-duration: 1.1s;
}

.promo-block {
    width: 100%;
    height: 683px;
    display: flex;
    justify-content: space-between;
}

.promo-1,
.promo-2 {
    height: 683px;
    width: 683px;
    padding-left: 52px;
    padding-top: 230px;
    background-repeat: no-repeat;

}

.exclusive {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin: 0px;
    padding: 0px;
}

.promo-h2 {
    margin-top: 10px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;

}

.promo-content {
    width: 374px;
    height: 36px;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-top: 12px;
    padding-bottom: 35px;
}

.promo-1 {
    background-image: url(img/promo_img1.jpg);
}

.promo-2 {
    background-image: url(img/promo_img.jpg);
}

.trend-block {
    height: 1110px;

}

.trend-header {
    padding-top: 118px;
}

.trend-h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    float: left;
}

.trend-box {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    height: 800px;
}

.trend-link {
    top: 0px;
    left: 0px;

    display: block;
    width: 370px;
    height: 370px;
}

.exclusive2-block {
    height: 810px;
    border-top: 1px solid transparent;
}

.exclusive2-blockin {
    width: 1170px;
    height: 570px;
    margin-top: 120px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.exclusive2,
.exclusive2-box {
    height: 570px;
    width: 570px;
    background-repeat: no-repeat;
}

.exclusive2 {
    background-image: url(img/product_101.jpg);
}

.exclusive2-text {
    margin-top: 188px;
    margin-left: 33px;
}

.exclusive2-box {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
}

.exclusive2-card {
    display: block;
}

.exclusive2-exclusive {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.exclusive2-h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.exclusive2-content {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 332px;
    height: 36px;
    margin-bottom: 35px;
}

.exclusive2-card {
    display: inline-block;
    width: 270px;
    height: 270px;
}

.exclusive2-card:hover,
.trend-link:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.6s;
    transition-timing-function: ease;
    box-shadow: -9px 8px 10px rgba(29, 29, 29, 0.43);
}

.mobile-block {
    height: 516px;
    border: 2px solid #f9f4f1;
    background-image: url(img/back_img_mobile.png);
}

.mobileapp {
    margin-top: 125px;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.find {
    padding-top: 2px;
    width: 407px;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -5px;
}

.mobile-content {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-bottom: 36px;
}

.mobile-link {
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.footer {
    height: 384px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}

.footer-h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    padding-bottom: 25px;
}

.contact-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 221px;
    letter-spacing: -0.5px;
}

.usefull {
    position: relative;
}

.usefull-box {
    float: left;
    height: 62px;
    padding-right: 70px;
}

.usefull-link {
    display: block;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.stay {
    width: 370px;
}

.stay-content {

    height: 36px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.email-input {
    margin-top: 25px;
    width: 350px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    padding-left: 20px;
    font-family: Montserrat;
}

form {
    position: relative;
}

button {
    display: inline;
    background-color: #fff;
    border: none;
    position: absolute;
    bottom: 12px;
    right: 5px;
}

.copyright {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cprght {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.terms,
.terms-link {
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}
